*
# !*/

!.gitignore
!*.md
# Folders
!*hardware
!*hardware/*
!*hardware/**/
!*hardware/**/*


!*software
!*software/*
!*software/**/
!*software/**/*

!*example
!*example/*
!*example/**/
!*example/**/*

#ignore vunit output
*vunit_out
# Source files:
!*.vhd
!*.v
!*.sv
!*.py
# Constraint files
!*.xdc

# TCL - files
!*.tcl

# Documents
!*.pdf
!*.jpg
!docs/
!docs/*.md